doctype html
html(lang='en')
  head
    title NodeJS with MongoDB
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    style.
      body{
      background-image: linear-gradient(to right bottom, #36d1dc, #00c2e7, #00b1ef, #0c9def, #5b86e5);
      }
      .container{
      height:100vh;
      align-items:center;
      justify-content:center;
      display: flex;
      flex-direction: column;
      }
  body
    .container
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
