doctype transitional
html
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="telephone=no" name="format-detection")
    title
    //if (mso 16)
      style(type="text/css").
        a {text-decoration: none;}
    //if gte mso 9
      style.
        sup { font-size: 100% !important; }
    // [if !mso] <!
    link(href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet")
    // <![endif]
  body
    .es-wrapper-color
      //if gte mso 9
        v:background(xmlns:v="urn:schemas-microsoft-com:vml" fill="t")
          v:fill(type="tile" color="#f4f4f4")
      table.es-wrapper(width="100%" cellspacing="0" cellpadding="0")
        tbody
          tr.gmail-fix(height="0")
            td
              table(width="600" cellspacing="0" cellpadding="0" border="0" align="center")
                tbody
                  tr
                    td(cellpadding="0" cellspacing="0" border="0" style="line-height: 1px; min-width: 600px;" height="0")
                      img(src="https://esputnik.com/repository/applications/images/blank.gif" style="display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;" alt="" width="600" height="1")
          tr
            td.esd-email-paddings(valign="top")
              table.es-header.esd-header-popover(cellspacing="0" cellpadding="0" align="center")
                tbody
                  tr
                    td.esd-stripe(esd-custom-block-id="6339" align="center")
                      table.es-header-body(width="600" cellspacing="0" cellpadding="0" align="center")
                        tbody
                          tr
                            td.esd-structure.es-p20t.es-p10b.es-p10r.es-p10l(align="left")
                              table(width="100%" cellspacing="0" cellpadding="0")
                                tbody
                                  tr
                                    td.esd-container-frame(width="580" valign="top" align="center")
                                      table(width="100%" cellspacing="0" cellpadding="0")
                                        tbody
                                          tr
                                            td.esd-block-image.es-p25t.es-p25b.es-p10r.es-p10l(align="center")
                                              a(href="" target="_blank")
                                                img(src="https://tlr.stripocdn.email/content/guids/CABINET_3df254a10a99df5e44cb27b842c2c69e/images/7331519201751184.png" alt="" style="display: block;" width="40")
              table.es-content(cellspacing="0" cellpadding="0" align="center")
                tbody
                  tr
                    td.esd-stripe(style="background-color: rgb(255, 167, 59);" esd-custom-block-id="6340" bgcolor="#ffa73b" align="center")
                      table.es-content-body(style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center")
                        tbody
                          tr
                            td.esd-structure(align="left")
                              table(width="100%" cellspacing="0" cellpadding="0")
                                tbody
                                  tr
                                    td.esd-container-frame(width="600" valign="top" align="center")
                                      table(style="background-color: rgb(255, 255, 255); border-radius: 4px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff")
                                        tbody
                                          tr
                                            td.esd-block-text.es-p35t.es-p5b.es-p30r.es-p30l(align="center")
                                              h1 Welcome!
                                          tr
                                            td.esd-block-spacer.es-p5t.es-p5b.es-p20r.es-p20l(bgcolor="#ffffff" align="center")
                                              table(width="100%" height="100%" cellspacing="0" cellpadding="0" border="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid rgb(255, 255, 255); background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;")
              table.es-content(cellspacing="0" cellpadding="0" align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center")
                        tbody
                          tr
                            td.esd-structure(align="left")
                              table(width="100%" cellspacing="0" cellpadding="0")
                                tbody
                                  tr
                                    td.esd-container-frame(width="600" valign="top" align="center")
                                      table(style="border-radius: 4px; border-collapse: separate; background-color: rgb(255, 255, 255);" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff")
                                        tbody
                                          tr
                                            td.esd-block-text.es-p20t.es-p20b.es-p30r.es-p30l.es-m-txt-l(bgcolor="#ffffff" align="left")
                                              p
                                                | We're excited to have you get started. First, you need to confirm your account. Just press the button below.
                                          tr
                                            td.esd-block-button.es-p35t.es-p35b.es-p10r.es-p10l(align="center")
                                              span.es-button-border
                                                a.es-button(href="https://viewstripo.email/" target="_blank" style="border-width: 15px 30px;")  Confirm Account
                                          tr
                                            td.esd-block-text.es-p20t.es-p30r.es-p30l.es-m-txt-l(align="left")
                                              p If that doesn't work, copy and paste the following link in your browser:
                                          tr
                                            td.esd-block-text.es-p20t.es-p30r.es-p30l.es-m-txt-l(align="left")
                                              p
                                                | If you have any questions, just reply to this email—we're always happy to help out.
                                          tr
                                            td.esd-block-text.es-p20t.es-p40b.es-p30r.es-p30l.es-m-txt-l(align="left")
                                              p Cheers,
                                              p The Ceej Team
              table.es-content(cellspacing="0" cellpadding="0" align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center")
                        tbody
                          tr
                            td.esd-structure(align="left")
                              table(width="100%" cellspacing="0" cellpadding="0")
                                tbody
                                  tr
                                    td.esd-container-frame(width="600" valign="top" align="center")
                                      table(width="100%" cellspacing="0" cellpadding="0")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p20b.es-p20r.es-p20l(align="center")
                                              table(width="100%" height="100%" cellspacing="0" cellpadding="0" border="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid rgb(244, 244, 244); background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;")
              table.es-content.esd-footer-popover(cellspacing="0" cellpadding="0" align="center")
                tbody
                  tr
                    td.esd-stripe(esd-custom-block-id="6341" align="center")
                      table.es-content-body(style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center")
                        tbody
                          tr
                            td.esd-structure(align="left")
                              table(width="100%" cellspacing="0" cellpadding="0")
                                tbody
                                  tr
                                    td.esd-container-frame(width="600" valign="top" align="center")
                                      table(style="background-color: rgb(255, 236, 209); border-radius: 4px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffecd1")
                                        tbody
                                          tr
                                            td.esd-block-text.es-p30t.es-p30r.es-p30l(align="center")
                                              h3(style="color: rgb(17, 17, 17);") Need more help?
                                          tr
                                            td.esd-block-text.es-p30b.es-p30r.es-p30l(esdev-links-color="#ffa73b" align="center")
                                              a(target="_blank" href="https://viewstripo.email/" style="color: rgb(255, 167, 59);") We’re here, ready to talk
